.details-wrapper
  margin-top: 160px
  margin-bottom: 100px



.default
  height: 300px
  width: 300px
  object-fit: contain
  overflow: hidden
  justify-content: center
  align-items: center

.mini-images
  height: 50px
  width: 50px
  object-fit: cover
  overflow: hidden
  cursor: pointer

.prev, .next
  cursor: pointer

.delivery
  height: 100%


.btn
  background-color: #3C464F
  color: white
  transition: 0.3s ease


.btn:hover
  transform: scale(1.1)
