<div class="container details-wrapper">
  <h5>Details</h5>
  <hr>
  <div class="row">
    <div class="col-md-8 row">
      <div class="col-md-6">
        <img src="{{productImage}}" default="assets/images/placeholder.jpg" alt="image" class="img-fluid default mt-2">

        <div class="row w-100 justify-content-center mx-auto">
          <div *ngIf="next" class="prev my-auto" (click)="onClickPrev()">
            <fa-icon [icon]="faPrev"></fa-icon>
          </div>
          <div *ngFor="let image of slide" class="border mini-images m-1"
            (click)="onClickImage(image, slide.indexOf(image))">
            <img src="{{image}}" default="assets/images/placeholder.jpg" alt="image" class="img-fluid">
          </div>

          <div *ngIf="next" class="next my-auto" (click)="onClickNext()">
            <fa-icon [icon]="faNext"></fa-icon>
          </div>
        </div>

      </div>

      <div class="col-md-3">
        <h4>{{product.name}}</h4>
        <span class="mr-2 text-warning">
          <app-star-rating [rating]="product.rate"></app-star-rating>
        </span>
        <span class="border-right pr-2 mr-2">({{product.rate}})</span>
        <span>{{product.review}}&nbsp;reviews</span>
        <hr>
        <p><span>Rs&nbsp;</span>{{product.price}}</p>
        <button type="button" class="btn my-2" (click)="onClickAddToCart()">Add to
          Cart</button>
      </div>

      <div class="card my-2 mr-2">
        <div class="card-header">Description</div>
        <p class="card-body">{{product.content}}</p>
      </div>
    </div>

    <div class="col-md-4 card delivery p-0">
      <div class="card-header">delivery options</div>
      <div class="card-body"></div>
    </div>

  </div>
</div>
