<app-banner></app-banner>

<div class="container mt-5">
  <h5>Our Products</h5>
  <hr>
</div>

<div *ngIf="isLoading" class="row  container mt-3 mb-5">
  <div class="col-6 col-sm-4 col-md-3 col-lg-2">
    <app-placeholder></app-placeholder>
  </div>
  <div class="col-6 col-sm-4 col-md-3 col-lg-2">
    <app-placeholder></app-placeholder>
  </div>
  <div class="col-6 col-sm-4 col-md-3 col-lg-2">
    <app-placeholder></app-placeholder>
  </div>
  <div class="col-6 col-sm-4 col-md-3 col-lg-2">
    <app-placeholder></app-placeholder>
  </div>
  <div class="col-6 col-sm-4 col-md-3 col-lg-2">
    <app-placeholder></app-placeholder>
  </div>
  <div class="col-6 col-sm-4 col-md-3 col-lg-2">
    <app-placeholder></app-placeholder>
  </div>
</div>

<div *ngIf="!isLoading">
  <div class="row container my-3">
    <div *ngFor="let product of products" class="col-6 col-sm-4 col-md-3 col-lg-2 p-0">

      <app-product-card [product]="product">

      </app-product-card>

    </div>
  </div>
</div>
