.cart-wrapper
  margin-top: 160px
  margin-bottom: 160px

.image-container
  justify-content: center
  align-items: center
  height: auto
  width: 150px



img
  height: 150px
  width: 150px
  object-fit: contain
  overflow: hidden
  justify-content: center
  align-items: center


.total
  height: 100%


.quantity-icon
  height: 30px
  width: 30px
  justify-content: center
  text-align: center
  font-size: 10px
  color: #3C464F
  background: none
  border: none

.quantity-icon:hover
  background: #3C464F
  color: #ffffff

.quantity-container
  align-items: center

.quantity-text
  width: 50px
  height: 24px
  text-align: center
  align-items: center
  justify-content: center
  background: none
  color: #3C464F
  border: 1px solid #eaeaea
  font-size: 12px


.rating
  font-size: 12px


.btn
  background-color: #3C464F
  color: white
  transition: 0.3s ease


.btn:hover
  transform: scale(1.1)
