<div class="container my-5">
  <h5>Cart</h5>
  <hr>
  <div class="row">
    <div class="col-md-8">
      <div *ngFor="let product of productsMerged" class="mb-2">
        <div class="card">
          <div class="row no-gutters p-0">
            <div class="card-header image-container p-0">
              <img src="{{product.imageUrl}}" alt="image">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{product.name}}</h5>
              <span class="border-right pr-2 mr-2">{{product.rate}}</span>
              <span>{{product.review}}<span>&nbsp;reviews</span></span>
              <hr>
              <p><span>Rs&nbsp;</span>{{product.price}}</p>
              <p>
                <span>
                  <button type="button" (click)="onClickMinus(product.id)">-</button>
                </span>
                <input type="text" disabled value="{{product.count}}">
                <span>
                  <button type="button" (click)="onClickPlus(product.id)">+</button>
                </span>
              </p>
              <button type="button">Buy Now</button>
              <button type="button" routerLink="/product-detail/{{product.id}}">View Details</button>
              <button type="button" (click)="onCartItemDelete(product.id)">Delete</button>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-4 total pb-2 card">
      <div class="card-body">
        <h5 class="card-title">Total</h5>
        <h3><span>Rs&nbsp;</span>{{total}}</h3>
        <button>Check Out</button>
      </div>

    </div>
  </div>
</div>
