<carousel [isAnimated]="true">
  <slide>
    <img src="assets/images/banner1.png" alt="banner 1" class="img-fluid">
    <div class="carousel-caption d-none d-md-block">
      <button class="btn">SHOP NOW</button>
    </div>
  </slide>
  <slide>
    <img src="assets/images/banner2.png" alt="banner 1" class="img-fluid">
    <div class="carousel-caption d-none d-md-block">
      <button class="btn">SHOP NOW</button>
    </div>
  </slide>
  <slide>
    <img src="assets/images/banner3.png" alt="banner 1" class="img-fluid">
    <div class="carousel-caption d-none d-md-block">
      <button class="btn">SHOP NOW</button>
    </div>
  </slide>
</carousel>
