<section class="header">


  <div class="container search-header">
    <div class="brand" routerLink="/">
      <h2>SHOPP</h2>
    </div>
    <div>
      <div class="search-conainer">
        <button class="search">Categories</button>
        <input type="text" placeholder="Search" class="search search-input">
        <i class="search search-icon">icon</i>
      </div>
    </div>
    <div class="account">
      <a>Sign in</a>
    </div>
  </div>

  <div class="container nav-container">

    <div class="nav-items">
      <a class="nav-links">
        Today's Deals
      </a>
      <a class="nav-links">
        Track My Order
      </a>
      <a class="nav-links">
        Help Center
      </a>
      <a class="nav-links">
        Customer Care
      </a>
      <a class="nav-links">
        Sell on Shopp
      </a>
    </div>
    <div class="cart" routerLink="cart">
      <a>Cart <span>{{cartCount}}</span></a>
    </div>
  </div>

</section>
