
.header
  poistion: fixed
  width: 100%
  top: 0
  color: #ffffff
  background-color: #3C464F

.search-header
  display: grid
  grid-template-columns: 1fr 4fr 1fr
  align-items: center
  height: 80px

.search-conainer
  display: grid
  grid-template-columns: 2fr 10fr 1fr
  align-self: center


.search
  height: 40px
  padding: 10px

.search-icon
  background-color: white
  color: black
  text-align: center

.account
  text-align: right


.nav-container
  display: flex
  background-color: #3C464F
  color: #ffffff
  height: 40px
  align-items: center

.nav-items
  width: 60%
  display: flex
  margin: auto
  justify-content: space-between


